.cards{
    width: 100%;
    .searchdiv{
        width: 100%;
        padding: 40px;
        @include center;
        gap: 20px;
        input{
            border-radius: 20px;
            padding: 10px 20px;
            outline: none;
            font-size: 20px;
        }
        select{
            background-color: green;
            width: 180px;
            border-radius: 20px;
            padding: 10px 20px;
            outline: none;
            font-size: 20px;
            color: white;
        }
    }
    .cardscon{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .card{
            max-width: calc(33% - 20px);
            flex: 1 1 calc(33% - 20px);
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            padding: 20px;
            transition: 0.5s ease;
            &:hover{
                background-color: red;

            }
            &:hover i{
            color: rgb(255, 255, 255);

            }
            i{
                font-size: 50px;
                color: red;
            }
            h2{
                color: rgb(26, 26, 77);
            }
            p{
                text-align: center;
                color: rgb(157, 156, 156);
            }
            .cardscrud{
                width: 100%;
                gap: 20px;
                display: flex;
                justify-content: center;
                i{
                    color: blue;
                    font-size: 20px;
                    &:hover{
                    color: rgb(255, 255, 255);
                    }

                }
                button{
                    width: 120px;
                    display: flex;
                    background-color: yellow;
                    border-radius: 20px;
                    font-size: 10px;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    border: none;
                    &:hover{
                        background-color: green;
                    }
                }
            }
        }
        

    }}

@media screen and (max-width:1100px){
    .cards{
        .cardscon{
            .card{
                max-width: calc(50% - 20px);
                flex: 1 1 calc(50% - 20px);
            }
            
    
        }
    }
}
@media screen and (max-width:768px){
    .cards{
        .cardscon{
            .card{
                max-width: calc(100% - 20px);
                flex: 100%;
            }
        }
    }
}


